/.project/
/.settings/
/target/
/sorting/.classpath
/sorting/.project
/sorting/.settings/
/sorting/target/
/datastructures/.classpath
/datastructures/.project
/datastructures/.settings/
/datastructures/target/